# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore dataset
data/


# Ignore outputs
output/
preprocessed/

# Ignore yolov5 Code settings
yolov5/
